@media (max-width: 300px) {
  .imgDiv img {
    width: 100%;
    max-width: 250px;
  }

  #imgDiv1 {
    max-width: 250px;
  }

  /* .textDiv h1 {
    max-width: 200px;
  }
  .textDiv h3 {
    min-width: 200px;
  } */
}
